.input-group__text-input {
  box-sizing: border-box;
  margin: 0 0 29px;
  padding: 0;
  height: 27px;
  border: 0;
  border-bottom: 1px solid rgba(0, 0, 0, .2);
  outline: 0;
  font-size: 14px;
  line-height: 17px;
}

.input-group__text-input:focus {
  border-bottom: 1px solid rgba(0, 0, 0, .6);
}

@media screen and (max-width: 620px) {
  .input-group__text-input {
    height: 24px;
    margin: 0 0 20px;
    font-size: 12px;
    line-height: 15px;
  }
}
